.doSolComponent {
    position: absolute;
    z-index: 100;
    border: solid 3px pink;
    margin-bottom: 10rem;
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.select {
    width: 10rem;
    margin-top: 1rem;
}
